html {
font-family: serif;
background-image: url("../img/background.png") !important;
background-color: white;
background-repeat: no-repeat;
background-size: cover;
background-attachment: scroll;
min-height: unset !important;
text-align: center;
overflow-x: hidden;
overflow: hidden;
}
body {
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
}
@font-face {
    font-family: 'Ashborn'; 
    src: url('Berosong.ttf'); 
}
h1{
    font-family: 'Ashborn';
    font-size:55px;
    color:white;
    text-shadow: black 1px 0 10px;
}

.content {
    height: 100%;
    display: grid;
    place-items: center;
    z-index: 5;
    position: relative;
}

.container {
    min-height: 100vh;
    height: 100%;
    position: relative;
    overflow-x: hidden
}
.fuzzy-overlay {
            position: absolute;
            inset: -200%;
            background-image: url("noise.png");
            opacity: 15%;
            z-index: 0;
            /* pointer-events: none; */

            animation: shift 0.2s linear infinite both;
        }

        @keyframes shift {
            0% {
                transform: translateX(10%) translateY(10%);
            }

            100% {
                transform: translateX(-10%) translateY(-10%);
            }
}
@media (max-width: 768px) { 
    body, .container {
        
        min-height: 100%;
    }
    .content {
        min-height: 100%;
        
    }
}